<?xml version="1.0"?>
<appSettings>
  <!--Default WCF settings-->
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />

  <!--Set if the tracing interceptor must be enabled or not -->
  <add key="UNITY_INTERCEPTION_TRACING_ENABLED" value="true" />
  <!--Set if the caching interceptor must be enabled or not -->
  <add key="UNITY_INTERCEPTION_CACHING_ENABLED" value="true" />

  <!--Cache policies-->
  <add key="CACHE_POLICY_REMOVABLE.default" value="true" />
  <add key="CACHE_POLICY_EXPIRATION.default" value="00:05:00" />

  <!--Dependency Injection-->
  <add key="SERVICE_BUSINESS_IMPLEMENTATION" value="Moviit.Domain.Business.Sandwich.Implementations" />
  <add key="AUTOMAPPER_CONFIGURATION_ASSEMBLY" value="Moviit.Domain.DTO.Mappings" />
  <add key="AUTOMAPPER_CONFIGURATION_CLASS" value="Moviit.Domain.DTO.Mappings.AutoMapperConfiguration" />
  <add key="ENTITY_FRAMEWORK_DBCONTEXT" value="Moviit.Infrastructure.Data.Persistence" />

  <!--Tracer exception names-->
  <add key="SOURCE_NAME" value="MinisSource" />
  <add key="SWITCH_NAME" value="MinisSwitch" />
  <!--Tracer exception messages separators-->
  <add key="PARAMETER_NAME_VALUE_SEPARATOR" value=": " />
  <add key="PARAMETER_SEPARATOR" value="; " />
  <!--Tracer exception messages formats-->
  <add key="ERROR_FORMAT" value="{0} --- {1}" />
  <add key="ERROR_TITLE_FORMAT" value="{0} [Exception] Method: {1}.{2}." />
  <add key="ERROR_DETAIL_NO_PARAMETERS_FORMAT" value="{0} Message: {1}" />
  <add key="ERROR_DETAIL_PARAMETERS_FORMAT" value="{0} Parameters: {1}. Message: {2}" />
  <add key="ERROR_DATE_FORMAT" value="yyyyMMdd hh:mm:ss" />
  <!--Tracer resources type name-->
  <add key="ERROR_RESOURCE_FILE_TYPE_NAME" value="" />

  <!--Security -->
  <add key="HASHING_SALT_MIN_LENGTH" value="10" />
  <add key="HASHING_SALT_MAX_LENGTH" value="20" />

  <!--CORS (Cross-origin resource sharing)-->
  <add key="CORS_ALLOWED_ORIGINS" value="*" />
</appSettings>
