<?xml version="1.0" encoding="utf-8" ?>
<system.diagnostics>
  <sources>
    <source name="MinisSource" switchName="MinisSwitch" switchType="System.Diagnostics.SourceSwitch">
      <listeners>
        <clear/>
        <add name="MinisEventLogListener"></add>
        <add name="MinisFileListener"></add>
      </listeners>
    </source>
  </sources>

  <switches>

    <add name="MinisSwitch" value="Verbose" />
  </switches>

  <sharedListeners>
    <!--EventLog Listener. It will trace in the Event Log and the source used will be the one specified in the "initializeData" attribute-->
    <add name="MinisEventLogListener" type="System.Diagnostics.EventLogTraceListener" initializeData="Minis">
      <!--Filter to use to trace events. In order of impmortance the list is: Off, Error, Warning, Information , Verbose-->
      <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
    </add>
    <!--File Listener. It will trace in a file and the file to use will be the one specified in the "initializeData" attribute-->
    <add name="MinisFileListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Temp\MinisTracer.log">
      <!--Filter to use to trace events. In order of impmortance the list is: Off, Error, Warning, Information , Verbose-->
      <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning"/>
    </add>
  </sharedListeners>

  <trace autoflush="true" indentsize="4">
    <listeners>
      <add name="MinisFileListener"></add>
    </listeners>
  </trace>
</system.diagnostics>